main{
    display: flex;
    justify-content: space-around;
}

.sobre-mim{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

.container-sobre-mim{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.titulo-sobre-mim{
    font-size: 60px;
    font-weight: 800;
}

.verde{
    color: var(--cor-verde);
}

.subtitulo-sobre-mim{
    font-size: 30px;
    font-weight: 400;

}

.paragrafo-sobre-mim{
    text-align: center; 
    font-size: 20px;
    width: 70%;
}

.button-redes-sociais{
    display: flex;
    justify-content: center;
    gap: 1px;

}

.botao{
    border: none;
}

.rede-social-linkedin{
    background-color: rgb(42,102,188);
}
.rede-social-github{
    background-color: rgb(4, 81, 119);
}

.imagem{
    display: flex;
    width: 10em;
    border: 1px solid;
}